# Email Configuration
RESEND_API_KEY=
CONTACT_EMAIL=owaisiqbal2013@gmail.com

# Next.js Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Proxy Configuration
PROXY_ALLOWED_HOSTS=api.example.com,localhost,jsonplaceholder.typicode.com,api.telegram.org
